
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
       ,{cowboy, "", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}}
       ,{ranch, "", {git, "git://github.com/extend/ranch.git", {branch, "master"}}}
       ,{jsx, "1.4.1", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}}
       ,{erlzmq, ".*", {git, "git://github.com/zeromq/erlzmq2.git", {branch, "3.x"}}}
       ]}.
